<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_EsquecimentoDeSenha.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/styles_EsquecimentoDeSenha.css"> -->
    <title>SGAA</title>
</head>
<body>
    <div class="container">
        <h2>Redefinir Senha</h2>
        <p id="texto">Digite o e-mail vinculado à sua conta</p>
        <input type="email" id="resetEmail" placeholder="E-mail" required>
        <button id="confirmResetButton" onclick="sendPasswordReset()">Confirmar</button>

        <!-- Elemento para exibir mensagem de confirmação -->
        <div id="modalContent"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script_EsquecimentoDeSenha.js') }}"></script>
    <!-- <script src="../static/js/script_EsquecimentoDeSenha.js"></script> -->
</body>
</html>

