<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_RecSenhaLogin.css') }}">
    <title>SGAA</title>
</head>
<body>
    <div class="container">
        <h1>Redefinição de senha</h1>

        <!-- Formulário para redefinição de senha -->
        <form id="RecSenhaForm">
            <input type="password" id="newPassword" name="newPassword" placeholder="Insira sua nova senha" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme a senha" required>
            <button type="submit">Alterar</button>
        </form>

        <!-- Mensagem de sucesso oculta -->
        <div id="successMessage" style="display: none;">
            <h2>Sua senha foi alterada com sucesso!</h2>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script_RecSenhaLogin.js') }}"></script>
</body>
</html>

