body {
    font-family: Arial, sans-serif;
    background-color: #dae2ed;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

input {
    font-size: 0.9em;
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #7296c4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #455e80;
}

.account-type-selection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.account-type-selection button {
    padding: auto;
    margin: auto;
    cursor: pointer;
    width: auto;
}

input {
    font-size: 0.9em;
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selected {
    background-color: #455e80;
    color: white;
    border: 1px solid #1e4d2b;
}

.qualification-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.qualification-fields input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#addQualification {
    cursor: pointer;
    color: blue;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Rola se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 500px; /* Largura máxima */
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
}